<header class="header">
    <div class="container">
        <h1 class="logo">My Express App</h1>
        <div class="student-info">
            <span class="name">Nainil Jain</span>
            <span class="std-id">N0170681</span>
        </div>
    </div>
</header>